@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

* {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

@import "tailwindcss";

@theme {
  --text-custom-base: 28px;
  --text-custom-lg: 32px;
  --text-custom-xl: 34px;
  --text-custom-2xl: 42px;
  --text-custom-4xl: 56px;
  --text-custom-6xl: 64px;
  --color-soft-gray: #E8E8E8;
  --color-off-white: #FEFEFE;
  --color-near-black: #010101;
  --color-mid-gray: #575757;
  --color-light-gray: #C1C1C1;
  --color-deep-gray: #474747;
  --color-dark-gray: #4D4D4D;
  --color-muted-gray: #787878;
  --color-charcoal-gray: #373737;
  --color-slate-gray: #565656;
  --text-dark: #5C5C5C;
  --leading-100: 100%;
  --leading-120: 120%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;
}

.bg-layer-section {
  background-image:
    linear-gradient(0.29deg,
      rgba(248, 248, 248, 0.5) 0.25%,
      rgba(254, 254, 254, 0.5) 99.75%),
    url('./assets/images/webp/bg-layer.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.03;
}

.shadow-orange-custom {
  box-shadow: 0px 1px 7px 0px #F67A211F;
}

.buy-one-bg {
  background-image: url('../src/assets/images/webp/buy-one-img.webp');
}

.craving-something-bg {
  background-image: url('../src/assets/images/webp/bg-img.webp');
}

.box-shadow {
  box-shadow: 0px 4px 15.4px 0px #0000000F;
}

.hover\:bg-gradient-orange:hover {
  background: linear-gradient(85.95deg, #EC6112 1.54%, #FF902E 98.46%);
  color: white;
}

.group:hover svg path {
  stroke: white;
}

.group svg path {
  stroke: black;
}

.gallery-hover {
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.gallery-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}